[buildout]
extends = http://svn.plone.org/svn/collective/buildout/plonetest/test-4.x.cfg
extensions += buildout.dumppickedversions
package-name = collective.portlet.relateditems
parts +=
    omelette


[versions]
collective.recipe.omelette = 0.12
buildout.dumppickedversions = 0.4


[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}
